on:
  workflow_call: {}

name: "Test Binary"

permissions:
  contents: read

jobs:
  binary:
    permissions:
      contents: write

    strategy:
      matrix:
        runner:
          - ubuntu-24.04 # X64
          - ubuntu-24.04-arm # ARM64
          - macos-15-intel # X64
          - macos-15 # ARM64
          - windows-2025 # X64
          # Not currently supported by Burrito
          # - windows-11-arm # ARM64

    runs-on: "${{ matrix.runner }}"

    name: "Submit Dependencies (${{ matrix.runner }})"

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: binary
          path: .

      - run: >-
          chmod +x
          ./mix_dependency_submission_${{ runner.os }}_${{ runner.arch }}

      - id: submit
        run: >-
          ./mix_dependency_submission_${{ runner.os }}_${{ runner.arch }}
          --install-deps
          --ignore test/fixtures
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: "Validate Output submission-json-path not empty"
        uses: nick-fields/assert-action@aa0067e01f0f6545c31755d6ca128c5a3a14f6bf # v2.0.0
        with:
          expected: ""
          actual: "${{ steps.submit.outputs.submission-json-path }}"
          comparison: "notEqual"

      - name: "Validate Output submission-json-path file contents valid JSON"
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const filePath = process.env.SUBMISSION_JSON_PATH;
            const fileContents = fs.readFileSync(filePath, 'utf8');
            try {
              JSON.parse(fileContents);
              return true;
            } catch (error) {
              throw new Error(`Invalid JSON in file: ${filePath}`);
            }
        env:
          SUBMISSION_JSON_PATH: "${{ steps.submit.outputs.submission-json-path }}"

      - name: "Validate output snapshot-id not empty"
        uses: nick-fields/assert-action@aa0067e01f0f6545c31755d6ca128c5a3a14f6bf # v2.0.0
        with:
          expected: ""
          actual: "${{ steps.submit.outputs.snapshot-id }}"
          comparison: "notEqual"

      - name: "Validate output snapshot-api-url is correct"
        uses: nick-fields/assert-action@aa0067e01f0f6545c31755d6ca128c5a3a14f6bf # v2.0.0
        with:
          expected: "${{ github.api_url }}/repos/${{ github.repository }}/dependency-graph/snapshots/${{ steps.submit.outputs.snapshot-id }}"
          actual: "${{ steps.submit.outputs.snapshot-api-url }}"
          comparison: "exact"

      - name: "Can call snapshot-api-url"
        id: snapshot-api-call
        uses: fjogeleit/http-request-action@c0b95d02a088b47c1f2f4db04fd8af8bd19eee54 #v1.16.6
        with:
          url: "${{ steps.submit.outputs.snapshot-api-url }}"
          method: "GET"
          bearerToken: "${{ github.token }}"

      - name: "Snapshot API call status code is 200"
        uses: nick-fields/assert-action@aa0067e01f0f6545c31755d6ca128c5a3a14f6bf # v2.0.0
        with:
          expected: "200"
          actual: "${{ steps.snapshot-api-call.outputs.status }}"
          comparison: "exact"
